
.radio__button {
    display: flex;
    gap: 1rem;
}

.radio__button span {
    background-color: cyan;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.radio__button span label {
    background-color: cyan;
    text-align: center;
    color: black;
}

input[type=radio] {
    background-color: cyan;
    align-items: center;
}