
.nav__bar {
    background-color: white;
    padding: 1rem;
    display: flex;
    /* width: 100vw; */
    gap: 0.7rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav__bar > div:first-child {
    display: flex;
    background-color: white;
    gap: 1rem;
}

.nav__bar > div:first-child a {
    all: unset;
    background-color: lightpink;
    padding: 0.5rem;
    cursor: pointer;
}

.nav__bar > div:nth-child(2) {
    background-color: white;
}


.nav__bar > div > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    padding: 0rem 1rem;
    justify-content: flex-start;
    gap: 0.5rem;
}

.nav__bar > div > div > span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
}


label {
    background-color: white;
}


input {
    width: 50vw;
    line-height: 1.5rem;
    background-color: white;
    padding: 0.3em 0.5em;
}

input::placeholder {
    /* padding: 0.2rem; */
    font-size: 1em;
}

.tags {
    display: flex;
    gap: 0.5rem;
}

.tags span {
    border: 2px solid black;
    border-radius: 4px;
    padding: 0.5rem;
}

select {
    appearance: none;
    /* padding: 10px; */
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background-color: lightpink;
}
  
select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}