
.nav__bar {
    background-color: white;
    padding: 1rem;
    display: flex;
    /* width: 100vw; */
    gap: 0.7rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav__bar > div:first-child {
    display: flex;
    background-color: white;
    gap: 1rem;
}

.nav__bar > div:first-child a {
    all: unset;
    background-color: lightpink;
    padding: 0.5rem;
    cursor: pointer;
}

.nav__bar > div:nth-child(2) {
    background-color: white;
}


.nav__bar > div > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    padding: 0rem 1rem;
    justify-content: flex-start;
    gap: 0.5rem;
}

.nav__bar > div > div > span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
}


label {
    background-color: white;
}


input {
    width: 50vw;
    line-height: 1.5rem;
    background-color: white;
    padding: 0.3em 0.5em;
}

input::placeholder {
    /* padding: 0.2rem; */
    font-size: 1em;
}

input[type="radio"] {
    font-size: 0.7em;
    width: 1rem;
    margin-right: 0.3rem;
}